# This file contains the environment variables for the project


# INTRA API settings
INTRA_UID=
INTRA_SECRET=
INTRA_CALLBACK_URI= # Change this to your domain
INTRA_TOKEN_URL=
INTRA_AUTH_URL=


# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Redis settings
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=



# User Management settings
USER_MANAGEMENT_SECRET_KEY=
USER_MANAGEMENT_DEBUG=

USER_MANAGEMENT_POSTGRES_USER=
USER_MANAGEMENT_POSTGRES_PASSWORD=
USER_MANAGEMENT_POSTGRES_DB=

USER_MANAGEMENT_SUPERUSER_USERNAME=
USER_MANAGEMENT_SUPERUSER_EMAIL=
USER_MANAGEMENT_SUPERUSER_PASSWORD=


# Chat settings
CHAT_SECRET_KEY=
CHAT_DEBUG=

CHAT_POSTGRES_USER=
CHAT_POSTGRES_PASSWORD=
CHAT_POSTGRES_DB=

CHAT_SUPERUSER_USERNAME=
CHAT_SUPERUSER_EMAIL=
CHAT_SUPERUSER_PASSWORD=


# game settings
GAME_SECRET_KEY=
GAME_DEBUG=

GAME_POSTGRES_USER=
GAME_POSTGRES_PASSWORD=
GAME_POSTGRES_DB=

GAME_SUPERUSER_USERNAME=
GAME_SUPERUSER_EMAIL=
GAME_SUPERUSER_PASSWORD=

# tournament settings
TOURNAMENTS_SECRET_KEY=
TOURNAMENTS_DEBUG=

TOURNAMENTS_POSTGRES_USER=
TOURNAMENTS_POSTGRES_PASSWORD=
TOURNAMENTS_POSTGRES_DB=

TOURNAMENTS_SUPERUSER_USERNAME=
TOURNAMENTS_SUPERUSER_EMAIL=
TOURNAMENTS_SUPERUSER_PASSWORD=