chat-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chat-container
{
    border-radius: 15px;
    height: 90%;
    overflow: hidden;
}


.side-message-container
{
    border-right: 1px var(--platinum_40_percent) solid;
    border-radius: 15px 0 0 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}


.search-input
{
    background-color: #27292e;
    width: 250px;
    height: 40px;
    gap:10px;
    border-radius: 15px;
}

.search-input input
{
    border: none;
    appearance: none;
    background-color: #27292e;
    color: var(--platinum_percent);
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.search-input input:focus
{
    outline: none;

}

.search-input img
{
    width: 18px;
    height: 18px;
    margin: auto;
    margin-left: 10px;
}

.select-party{
    padding: 10px 0px;
    gap: 40px;
}

.side-message-bar
{
    height: fit-content;
    width: 100%;
    padding: 10px 15px;
    gap:10px;
    border-bottom: 1px var(--platinum_40_percent) solid;
    cursor: pointer;
}
.side-message-bar:hover
{
    opacity: 0.8;
}
.message-container
{
    text-align: center;
    gap:50px;
}

.friend-message-bar:first-child{
    border-top: 1px var(--platinum_40_percent) solid;
}

.select-server, .select-direct
{
    cursor: pointer;
}

.select-server:hover, .select-direct:hover
{
    color: var(--platinum);

}

.message_text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 212px;
}

chat-side-bar
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

.activedirection
{
    color: var(--platinum);
}
.selectedchat
{
    background-color: var(--platinum_40_percent);
}