.chatbody-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    background-color: var(--primary_color);
    padding: 10px;
}

.server-description
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.images_chat
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.more-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    width: 38px;
    height: 38px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 50%;
    cursor: pointer;
}

.dot-point
{
    width: 5.74px;
    height: 5.74px;
    background-color: var(--platinum);
    border-radius: 50%;
}

.message-text-container
{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 13px 10px 0 10px;
    gap: 10px;
}

.message-block
{
    width: fit-content;
    text-align: start;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 15px;
    padding: 15px;
    line-break: anywhere;
}
.name-time
{
    gap: 10px;
}
.send-msg-bar
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#send-msg-bar1{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--platinum);
    width: 95%;
    height: 100%;
    padding-left: 10px;
}
#send-msg-bar1:focus-visible
{
    outline: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
.message_input
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    text-align: start;
    width: 98%;
    height: 44px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 60px;
    margin: 10px;
    padding: 10px;
}

.send_icone{
    cursor: pointer;
    width: 30px;
    height: 30px;
    rotate: 45deg;
}
.messagetext
{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}
.chatbodymain{
    display: flex;
    flex-direction: column;
    height: 100%;
}