.chatbody-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    background-color: var(--primary_color);
    padding: 10px;
}

.server-description
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.images_chat
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.more-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    width: 38px;
    height: 38px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 50%;
    cursor: pointer;
}

.dot-point
{
    width: 5.74px;
    height: 5.74px;
    background-color: var(--platinum);
    border-radius: 50%;
}

.message-text-container
{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 13px 10px 0 10px;
    gap: 10px;
    position: static;
}
.message-text-container:hover .message_name
{
    text-decoration: underline;
    cursor: pointer;
}
.message-block
{
    width: fit-content;
    text-align: start;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 0 15px 15px;
    padding: 15px;
    line-break: anywhere;
}
.name-time
{
    gap: 10px;
}
.send-msg-bar
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.messagebar_input
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.message_input:focus-visible
{
    outline: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.message_input
{
    color: var(--platinum);
    background-color: transparent;
    width: 100%;
    height: 44px;
    max-height: 200px;
    overflow-y: hidden;
    border-radius: 15px;
    border: 1px solid var(--platinum_40_percent);
    text-align: start;
    padding: 10px;
    resize: none;
}

.send_icone{
    cursor: pointer;
    width: 30px;
    height: 30px;
    rotate: 45deg;
}
.messagetext
{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}
.chatbodymain{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message_dot
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 35px;
    height: 19px;
    padding: 0px 10px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 7px;
    cursor: pointer;
}
.message_option
{
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
}
.message_cnt:hover .message_option
{
    display: flex;
}
.message_cnt
{
    position: relative;
}
.message-block:hover
{
    cursor: pointer;
}
.dot_option
{
    width: 3.87px;
    height: 3.87px;
    border: 1px solid var(--platinum);
    border-radius: 50%;
    background-color: var(--platinum);
}
.delete_message
{
    overflow: hidden;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 30%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 44px;
    background-color: var(--raisin_black);
    border-radius: 7px;
}
.delete_f
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    pointer-events: auto;
}

.delete_f:hover
{
    background-color: var(--red);
}

.msg_bin
{
    display: flex;
    gap:10px;
}