
.creation-container
{
    display: flex;
    border-radius: 15px;
    height: 90%;
    gap:100px;
}

.p3_regular
{
    width: 250px;
}
.rol_text
{
    padding-left: 15px;
}

.cards
{
    display: flex;
    width: 320px;
    height: 400px;
    border-radius: 13px;
    gap: 60px;
}

.cards_1
{
    display: flex;
    width: 320px;
    height: 400px;
    gap:14px;
}

.avatar_change
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.server_name , .server_password , .server_visibility
{
    height: 48px;
    border-radius: 13px;
    padding: 0 10px;
    width: 100%;
}

.server_password{
    display: none;
}


.create_server_input
{
    width: 100%;
    border: none;
    appearance: none;
    background-color: transparent;
    color: white;
    height: 48px;
    border-radius: 13px;
}
.create_server_input:focus
{
    outline: none;
}

.form-select1
{
    border: none;
    appearance: none;
    background-color: transparent;
    color: white;
    width: 320px;
    height: 48px;
    border-radius: 13px;
}

select:focus
{
    border-color: red;
    outline: none;
}

.cards_2
{
    display: none;
    position: absolute;
    gap:50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 13px;

}

.cards_2 .card2_content
{
    width: 320px;
    height: 400px;
    border-radius: 13px;
}

.qr_code
{
    background-color: aliceblue;
    border-radius: 13px;
    width: 256px;
    height: 256px;
}
.qr_code img
{
    width: 100%;
    height: 100%;
    border-radius: 13px;

}


/* arrow */
.arrowdown
{
    right: 15px;
    border: solid rgb(237, 234, 229);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.button_submit
{
    margin-top: auto;
}
.loader-container {
    display: none;
    position: absolute;
  }
.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
.pointer_enable
{
    pointer-events: none;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
