.chat-container
{
    border-radius: 15px;
    height: 90%;
}

.friend-message-container
{
    border-right: 1px var(--platinum_40_percent) solid;
    border-radius: 15px 0 0 15px;
    width: 350px;
}

.search-bar
{
    width: 100%;
    height: 4em;
}

.search-input
{
    background-color: #27292e;
    width: 250px;
    height: 40px;
    gap:10px;
    border-radius: 15px;
}

.search-input input
{
    border: none;
    appearance: none;
    background-color: #27292e;
    color: var(--platinum_40_percent);
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.search-input img
{
    width: 18px;
    height: 18px;
    margin: auto;
    margin-left: 10px;
}

.select-party{
    margin-bottom: 20px;
    gap: 40px;
}

.friend-message-bar
{
    height: fit-content;
    border-top: 1px var(--platinum_40_percent) solid;
}

.message-container
{
    text-align: center;
    gap:50px;
}

.friend-message-bar:last-child{
    border-bottom: 1px var(--platinum_40_percent) solid;
}