.button_component {
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 48px;
    border-radius: 16px;
    color: var(--platinum);
    border: 1px solid var(--platinum_40_percent);
    background-color: var(--primary_color);
}

.button_component:hover {
    opacity: 0.8;
}

.no-bg {
    backdrop-filter: blur(20px);
	background-color: var(--raisin_black_20_percent);
}


side-bar {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 75px;
    min-width: 75px;
    
    /* height: fit-content; */
    height: 80%;


    margin: 10px;
    padding: 5px;

    border-radius: 17px;

    backdrop-filter: blur(20px);
	background-color: var(--raisin_black_20_percent);

    border: 1px solid var(--platinum_40_percent);
    
    transition: 0.5s ease;

    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}


side-bar:hover {
    width: 300px;
}

side-bar-item {
    display: flex;

    align-items: center;

    width: 100%;

    gap: 20px;
    padding: 18px 16px;

    overflow: hidden;
    border-radius: 13px;
    border: 1px solid var(--platinum_40_percent);

    cursor: pointer;
    transition: 0.5s ease;

}

.hover_side_bar_item {
    background-color: var(--platinum_40_percent);   
    transform: scale(1.1); 
}

.active_side_bar_item
{
    background-color: var(--primary_color);
}

.side_bar_item_icon_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    min-width: 30px;
    height: 25px;
}


friends-servers-bar {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;

    width: 75px;
    min-width: 75px;
    
    height: 80%;


    margin: 10px;
    padding: 5px;


    
    
    transition: 0.5s ease;

    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}


friends-bar {
    width: 100%;
    --n-elements: 5;
    height: calc(52px * var(--n-elements) + 10px * var(--n-elements) + 5px);
    
    border-radius: 17px;

    backdrop-filter: blur(20px);
	background-color: var(--raisin_black_20_percent);

    border: 1px solid var(--platinum_40_percent);

    display: flex;
    flex-direction: column;

    align-items: center;
    overflow-y: hidden;
    overflow-x: visible;

    transition: 0.5s ease;

    gap: 10px;
    padding: 7px;

    overflow-x: hidden;

}

friends-bar:hover {
    width: 300px;
    height: 100%;
    z-index: 2;
    position: absolute;

    overflow-y: scroll;
}

.friends_bar_item {
    display: flex;

    align-items: center;
    flex-direction: row-reverse;

    width: 100%;

    min-height: 52px;
    height: 52px;
    max-height: 52px;

    gap: 7px;

    cursor: pointer;
    transition: 0.5s ease;

    position: relative;
}

.friends_bar_item:hover .three_dots_container {
    display: flex;

    border: 1px solid var(--platinum_40_percent);
}


.friends_bar_item_icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.options_list  {
    display: flex;
    margin-right: auto;
    gap: 3px;
    flex-direction: column;
    position: relative;
}

.three_dots_container {
    display: none;

    justify-content: center;
    align-items: center;
    gap: 3px;

    padding: 5px 5px;

    border-radius: 7px;
    background-color: var(--platinum_40_percent);
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px solid var(--platinum_40_percent);
    

}

.single_dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--platinum);
}

.friends_bar_item_icon_status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--green);
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    overflow: unset;

    border: 3px solid var(--raisin_black_20_percent);

    transition: 0.5s ease;

}

.options_list_container {
    display: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 0;
    gap: 5px;
    flex-direction: column;
    background-color: var(--raisin_black_20_percent);
    border: 1px solid var(--platinum_40_percent);
    border-radius: 7px;
    padding: 5px;
    background-color: var(--raisin_black);

    transition: 0.5s ease;

}

.options_list_item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 5px;
}

.options_list_item:hover {
    background-color: var(--platinum_40_percent);
}





servers-bar {
    --n-elements: 4;
    height: calc(52px * var(--n-elements) + 10px * var(--n-elements) + 5px);
    
    width: 100%;

    border-radius: 17px;

    backdrop-filter: blur(20px);
	background-color: var(--raisin_black_20_percent);

    border: 1px solid var(--platinum_40_percent);

    display: flex;
    flex-direction: column;

    align-items: center;
    overflow-y: hidden;
    overflow-x: visible;


    gap: 10px;
    padding: 7px;

    overflow-x: hidden;
    transition: 0.5s ease;

}

servers-bar:hover {
    width: 300px;
    height: 100%;
    z-index: 2;
    position: absolute;

    overflow-y: scroll;

    bottom: 5px;
    right: 5px;

}

.servers_bar_item {
    display: flex;

    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;

    width: 100%;

    min-height: 52px;
    height: 52px;
    max-height: 52px;

    overflow: hidden;

    cursor: pointer;
    transition: 0.5s ease;

    border-radius: 13px;
}

.servers_bar_item:hover {
    background-color: var(--platinum_40_percent);
}


.servers_bar_item_icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}