game-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    gap: 30px;
    position: relative;
}

.game-page-header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 20px;
    
    border-radius: 15px;

    flex-wrap: wrap;
}

.game-page-body{
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    position: relative;

}

.game-page-user-data-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-page-user-data-image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.game-page-user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 85px;
}

.game-page-header-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-page-user-data .header_h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

.game-page-user-data-image:hover{
    cursor: pointer;
    opacity: 0.8;
}




.game-page-stats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    width: fit-content;
    padding-left: 50px;
    height: fit-content;
    
    position: absolute;
    bottom: -1px;
    left: -25px;
    transform: skewX(20deg);
    
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    backdrop-filter: blur(10px);

    max-width: 100%;
}

.game-page-stats-part {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    transform: skewX(-20deg);
}

.game-page-stats-part .progress{
    transform: skewX(20deg);
}

.game-page-stats-part .progress .progress-bar span{
    transform: skewX(-20deg);
}

.display_game_results_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.display_game_results_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 50px;
    
    border-radius: 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--platinum_40_percent);
    
}

.display_game_results_winner,
.display_game_results_loser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.display_game_results_winner_avatar{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.display_game_results_loser_avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.winner_header{
    color: var(--green);
    font-weight: 700;
    font-size: 60px;
}

.loser_header{
    color: var(--red);
    font-weight: 700;
    font-size: 35px;
}