home-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

home-slide-show {
    display: flex;
    position: relative;
    width: 850px;
    height: 375px;
    aspect-ratio: 850/375;
    transform-origin: top left;
    overflow: hidden;
}


.slide-show-mini-card {
    display: flex;
    padding: 11px;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    gap: 20px;
}

.slide-show-mini-card-image {
    width: 250px;
    height: 350px;
    border-radius: 30px;
}



.left-card {
    transform: scale(0.8);
    position: absolute;
    left: 0;
}

.card-animation {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    /* animation: left-card-animation 0.5s forwards; */
}

@keyframes left-card-animation {
    0% {
        left: 0;
    }
    100% {
        left: 68%;
    }
}


.right-card {
    transform: scale(0.8);
    right: 0;
    position: absolute;
}

@keyframes right-card-animation {
    0% {
        left: 68%;

        opacity: 1;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.center-card {
    position: absolute;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
}
.center-card-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.center-card-animation {
    animation: center-card-animation 0.4s forwards;
}

@keyframes center-card-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-show-three-dots{
    display: flex;
    gap: 4px;
    width: fit-content;
    height: fit-content;

    position: absolute;
    top: 18px;
    right: 32px;
}

.slide-show-three-dots-dot {
    width: 28px;
    height: 6px;
    border-radius: 24px;
    background-color: var(--platinum_40_percent);
}

.slide-show-three-dots-dot-active {
    background-color: var(--primary_color);
}


home-leaderboard {
    width: 400px;
    height: 265px;


    display: flex;
    flex-direction: column;
    border-radius: 17px;
    backdrop-filter: blur(20px);
    border: 1px solid var(--platinum_40_percent);
	background-color: var(--raisin_black_20_percent);

    padding: 18px 28px;
    gap: 27px;
}

.forward-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px 10px;
    border-radius: 100px;
    background-color: var(--primary_color);
    
    gap: 10px;
    height: 26px;
    width: fit-content;

    cursor: pointer;
}

.forward-button:hover {
    opacity: 0.8;
}

.home-leaderboard-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.home-leaderboard-item:hover
{
    cursor: pointer;
}

.home-leaderboard-item:hover div span {
    text-decoration: underline;
}

.home-leaderboard-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.home-leaderboard-list-animation {
    animation: home-leaderboard-list-animation 0.3s forwards;
}

@keyframes home-leaderboard-list-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}