landing-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 100%;
    width: 100%; */
}


.landing_page_section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

    min-height: 100vh;
    height: unset;
    
    padding: 50px 0px ;

	width: 100%;

	position: relative;
}

.landing_page_image {
	width: clamp(100px, 100%, 500px);
	height: auto;
	object-fit: cover;
	mix-blend-mode: lighten;
}

.landing_page_header {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: clamp(2.3rem, 0.6842rem + 3.6842vw, 4rem);
}

.cta_container {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.cta_buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.landing_page_features_img {
    width: clamp(100px, 100%, 500px);
    height: auto;
    object-fit: cover;

    border-radius: 20px;
    border: 1px solid var(--platinum_40_percent);

    aspect-ratio: 1/1;
}


.landing_page_arrow_down {
	width: 48px;
	height: 48px;
	object-fit: cover;
	mix-blend-mode: lighten;
	position: absolute;

	bottom: 0;
	left: calc(50% - 24px);
}



.features_section {
	display: flex;
	flex-direction: column;

	gap: 50px;
	padding: 100px 0px;
}

@media only screen and (max-width: 1070px) 
{
    .landing_page_features_img {
        order: -1;
    }

    .landing_page_section {
        justify-content: center;
    }

    .feature_subclass {
        justify-content: center !important;
    }

    features-item {
        margin-inline: auto;
		width: 100%;
    }

    .features_section {
        gap: 100px;
    }
}

.footer_sub_elements{
    cursor: pointer;
    color: var(--platinum_40_percent);
    text-decoration: none;
}

.footer_sub_elements:hover {
    color: var(--primary_color);
}
