leaderboard-page {
    display: flex;
    flex-direction: column;

    display: flex;
    align-items: center;
	flex-direction: column;

    width: 100%;
    height: 100%;
}


.leaderboard_page_container {
    display: flex;
    width: clamp(300px, 75%, 1440px);
    flex-direction: column;

    padding: 15px 30px;
    gap: 25px;
    border-radius: 30px;
    overflow: hidden;

    /* min-height: 1000px; */
    height: 100%;
}

.leaderboard_page_content {
    display: flex;
    flex-direction: column;

    margin-bottom: auto;
    height: 100%;
    gap: 10px;
    overflow: auto;
}

.leaderboard_page_content_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 5px 25px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 10px;

    /* background-color: chocolate; */
}

.leaderboard_page_content_item_rank{
    min-width: 25px;
}

.leaderboard_page_content_item_avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.leaderboard_page_content_item_username {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leaderboard_page_content_item_username:hover {
    text-decoration: underline;
    cursor: pointer;
}
.leaderboard_page_content_item_current_elo
{
    min-width: 50px;
}



.leaderboard_page_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.leaderboard_page_header_filter{
    display: flex;
    gap: 10px;
    padding: 8px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 10px;
}

.leaderboard_page_header_filter_item{
    padding: 4px 10px ;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.leaderboard_page_active_filter {
    background-color: var(--primary_color);
}


.leaderboard_page_top_3_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding-top: 100px;
}

.leaderboard_page_rank_1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(180px * 1.2);
    height: calc(195px * 1.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.leaderboard_page_rank_1_avatar {
    width: calc(123px * 1.2);
    height: calc(123px * 1.2);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    border: 4px solid var(--red);
}





.leaderboard_page_rank_2_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(142px * 1.2);
    height: calc(150px * 1.2);

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.leaderboard_page_rank_2_avatar {
    width: calc(97px * 1.2);
    height: calc(97px * 1.2);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    border: 4px solid var(--green);
}





.leaderboard_page_rank_3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(97px * 1.2);
    height: calc(97px * 1.2);

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


.leaderboard_page_rank_3_avatar {
    width: calc(80px * 1.2);
    height: calc(80px * 1.2);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    border: 4px solid var(--blue);
}