play-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.cards_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.play-game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 15px;
}

.play-game-text-btn {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.play-game-card-image {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.play-game-text {
    text-align: center;
}

@keyframes play-page-rotation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.play-page-rotation {
    animation: play-page-rotation 0.5s linear;
}
.play-page-reverse-rotation {
    animation: play-page-rotation 0.5s linear reverse;
}




.match-making-user-vs-user{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.match-making-current-user-avatar-container
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: var(--eerie_black);
}

.match-making-current-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.match-making-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.match-current-making-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.match-making-user-avatar-container
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: var(--eerie_black);
    overflow: hidden;
    position: relative;
}

.match-making-user-avatar
{
    width: 200px;
    height: 200px;
    display: block;
}

.match-making-vs-art{
    height: 300px;
    width: auto;
}

.match-making-timer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 320px;
    flex-direction: column;
}

.match-making-timer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 10px;
}

.match-making-timer-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-roller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: roll 1.3s linear infinite;
}



@keyframes roll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}


.avatar-roller.slowing {
    animation: roll 3s linear infinite;
}

.avatar-roller.stopped {
    animation: none;
    transform: translateY(0);
}

.opponent-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.opponent-avatar.visible {
    opacity: 1;
}