privacy-page {
    display: flex;
    flex-direction: column;

    display: flex;
    align-items: center;
	flex-direction: column;

    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 20px 0;
    
    gap: 50px;
}

.privacy_page_container {
    display: flex;
	width: clamp(300px, 60%, 1440px);
    flex-direction: column;

    padding: 100px;
    border-radius: 30px;
}

.privacy_page_section .header_h1 {
    margin-bottom: 30px;
}

.privacy_page_section .header_h2 {
    margin: 25px 0 15px 0;
    padding-bottom: 10px;
}

.privacy_page_section .p2_regular {
    margin-bottom: 15px;
}

.privacy_page_section ul {
    margin-bottom: 15px;
    padding-left: 20px;
}

.privacy_page_section li {
    margin-bottom: 8px;
}


.privacy_page_section {
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
}

.privacy_page_section .p2_regular{
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .privacy_page_container {
        padding: 50px 20px;
        width: calc(100% - 20px);
        margin: 0 10px;
    }
}