profile-page{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 90%;

}

.first_part{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    padding: 5px;
    border-radius: 17px;
    backdrop-filter: blur(20px);
    background-color: var(--raisin_black_20_percent);
    border: 1px solid var(--platinum_40_percent);
    margin-bottom: 15px;
    position: relative;
}

.first_part .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    opacity: 0.7;
    border-radius: 17px;
}

.first_part .left_part{
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.dot {
    position:absolute;
    height: 20px;
    width: 20px;
    background-color: #11ac12;
    border-radius: 50%;
    display: inline-block;
    left: 170px;
    top: 45px;
  }

.first_part .left_part .avatar{
    min-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto 50px auto 40px;
}

.first_part .right_part{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.first_part .right_part .top_part{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 15px;
    margin-left: auto!important;
    margin-right: 10%;
}

.button_right_top{
    min-width:fit-content !important;
    width: fit-content!important;
}

.button_right_top button{
    width: fit-content;
    padding: 0px 30px 0px 30px;
}

.button_right_top button span{
    font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.three_point button {
    writing-mode: vertical-rl;
    padding: 0px 3px 0px 13px !important;
}

.three_point button span{
    font-weight: bold;
}

.first_part .right_part .bottom_part{
    height: 50%;
    display: flex;
    width: 100%;
    align-items: center;
}

.buttons_right_top{
    gap: 15px;
    display: flex;
    margin-left: auto!important;
    margin-right: 10%;
}

.three_point_options {
    display: none;
    flex-direction: column;
	background-color: var(--primary_color);
    border: 1px solid var(--platinum_40_percent);
    border-radius: 15px;
    transition: 0.5s ease;
    width: 150px;
    position: absolute;
    top: 100px;
    right: 0px;
    margin-right: 10%;
    align-items: center;
    overflow: hidden;
}

.button_right_top-items {
    text-align: center;
    color: var(--platinum);
    cursor: pointer;
    transition: 0.5s ease;
    width: 150px;
    font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;  
    padding: 10px;

}

.button_right_top-items:first-child {
    border-bottom: 1px solid var(--platinum_40_percent);

}

.button_right_top-items:hover {
    border: none;
    background-color: var(--platinum_40_percent);
}

.show {
    display: flex !important;
}

.show_1 {
    background-color: #11ac12;
}

.bottom_part .leaderboard_page_header_filter{
    display: flex;
    gap: 10px;
    padding: 8px;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 10px;
    height: fit-content;
    margin-left: auto!important;
    margin-right: 10%;
}

.bottom_part  .leaderboard_page_header_filter_item{
    padding: 4px 10px ;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.bottom_part  .leaderboard_page_active_filter {
    background-color: var(--primary_color);
}

.card{
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    gap: 4;
    outline: none;
}

.small_card_report{
    width: 600px!important;
    gap: 40px!important;

}

.card .small_card_report img{
    width: 100%;
    border-radius: 20px;
}



form input
{
    color: var(--platinum);
    width: 100%;
    height: 48px;
    border-radius: 16px;
    backdrop-filter: blur(20px);
	background-color: var(--raisin_black_20_percent);
    font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
    padding: 20px;
    padding-right: 50px;
    border: 1px var(--platinum_40_percent) solid;
    margin-bottom: 20px;

}
form textarea
{
    color: var(--platinum);
    border-radius: 16px;
    backdrop-filter: blur(20px);
	background-color: var(--raisin_black_20_percent);
    font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
    padding: 20px;
    padding-right: 50px;
    border: 1px var(--platinum_40_percent) solid;
    margin-bottom: 20px;

}

form input:focus-visible,
form textarea:focus-visible
{
    outline-color: var(--primary_color);
    border: 0px;
}

.inputs_2fa p {
    text-transform: none!important;
}

.sec_part{
    display: flex;
    width: 100%;
    height: 35%;
    margin-bottom: 15px;
}


.sec_part .graph{
    height: 100%;
    width: 40%;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

#customLegend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.buttonContainer {
    display: flex;
    gap: 5px;
}

.buttonContainer button {
    background-color: var(--primary_color);
    color: var(--platinum);
    border: 1px solid var(--platinum_40_percent);
    padding: 0.1vw 0.5vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.6vw;

}

.legend_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}

.sec_part .match_numbers{
    height: 100%;
    width: 20%;
}

.sec_part .win_loss_ratio{
    height: 100%;
    width: 20%;
}

.sec_part .average{
    height: 100%;
    width: 20%;
}

.third_part{
    display: flex;
    width: 100%;
    height: 35%;
}

