.parts_container
{
    width: 100%;
    height: 90%;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 30px;
    padding: 0 25px 0 25px;
}
.Left_part ,.Right_part
{
    width: 32.5%;
    height: 100%;
    border-radius: 15px;
}
.Right_part
{
    text-align: right;
}
.Middle_part
{
    flex-grow: 1;
    height: 100%;
    gap: 35px;
    border: 1px solid var(--platinum_40_percent);
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    background-color: var(--primary_color);
}

.match_brakets
{
    width: 100%;
    height: 100%;
    gap:15px;
}
.match_main_container
{
    width: 100%;
    height: 100%;
}

.winner_content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.winner_img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid var(--platinum_40_percent);
    object-fit: cover;
}
.final_text
{
    font-size: 50px;
    height: 155px;
}
/* bracket  styling*/

.bracket_main_container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.bracket_container
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 300px;
    height: 60px;
}

.data_bracket
{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 80%;
    height: 100%;
    padding: 5px;
    border: 2px solid var(--platinum_40_percent);
    border-radius: 15px;
    overflow: hidden;
}

.bracket_player_img
{
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--platinum_40_percent);

}

.point_bracket
{
    width: 20%;
    background-color: var(--platinum);
    border-radius: 15px;

}
.number_points
{
    color: black;
}
.bracket_group
{
    gap:20px;
}

.bracket_username
{
    cursor: pointer;
    overflow: hidden;
    text-overflow:ellipsis;
}
.playing2
{
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--platinum_40_percent);
    border-radius: 15px;
    background-color: black;
    width: 200px;
    height: 40px;
    line-height: 35px;
    color: black;
    background-color: var(--platinum);
    transition:all 0.7s ease;
}
.playing2:hover
{
    color: white;
    background-color: var(--primary_color);
    width: 210px;
    height: 42px;
    font-size: 13px;
}
.playing2:active
{
    color: black;
    background-color: var(--platinum);
    width: 180px;
    height: 35px;
    font-size: 10px;
}
.winner_styling
{
    border: 2px solid var(--platinum);
}